@use "src/theme.scss";

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

i {
  min-width: 10px;
  min-height: 10px;
}

* {
  box-sizing: border-box;
}

#game > div > div {
  width: 100%;
  height: 100%;
}

.fixflex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  pointer-events: all;
  user-select: none;
  // background-image: url('../assets/menu-bg.jpg');
}

.lobby-header {
  padding-top: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(12px);
  -webkkit-backdrop-filter: blur(12px);
  svg {
    max-height: 30px;
    margin: 6px 20px;
    transition: transform 150ms;
  }

  svg > g > g > path {
    transition: all 150ms;
    fill: hsla(0,0%,100%,.6);
  }

  .logo-img:hover {
    transform: scale(1.05);
  }

  .logo-img:hover svg > g > g > path {
    fill: #ffe7bc;
  }

  .header-button {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: hsla(0,0%,100%,.6);
    font-size: 22px;
    margin: 8px;
    padding: 8px;
    border-radius: 6px;
    transition: all 150ms;
    background-color: rgba(155,155,155,0.1);
    cursor: pointer;
    &:hover {
      background-color: rgba(155,155,155,0.2);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }
  }

  .header-link {
    font-family: 'Cormorant Garamond';
    text-decoration: none;
    color: hsla(0,0%,100%,.6);
    font-size: 22px;
    margin: 0 10px;
    padding: 6px 0;
    transition: all 200ms;
    border-bottom: 2px solid rgba(0,0,0,0);
    &:hover {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }
}

.blurfade {
  // backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;

  transition: opacity 2s, visibility 2s, backdrop-filter 1s;
  transition-delay: 5s;
  &.on {
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  z-index: 1;
  position: relative;
  width: 515px;
  flex-shrink: 0;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #222;
  background-color: #0a100d;
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h1 {
      margin: 0;
    }
    i {
      color: rgba(220, 220, 235, 0.1);
      font-size: 32px;
      cursor: pointer;
      transition: transform 150ms;
      &:hover {
        color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  color: #eee;
  margin: 4px 0;
}

ul {
  margin: 0;
  padding-left: 22px;
  list-style-type: square;
}

li {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  color: #eee;
}

h1 {
  color: #ffe7bc;
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  color: #FFF;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.label {
  display: inline-block;
  width: 100%;
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
  color: #444;
  margin: 4px 0;
}

.menu table {
  width: 100%;
}

.dark-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  user-select: none;
  font-family: 'Cormorant Garamond', serif;
  .popup {
    background-color: theme.$murky-black;
    border: 1px solid theme.$dark-gray-2;
    border-radius: 6px;
    padding: 20px;
    width: 500px;
    max-width: 100%;
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
    max-height: 90%;
    margin: 20px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .popup-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      h1 {
        margin: 0;
      }
    }
    .popup-section {
      text-align: left;
      padding: 10px;
      background-color: theme.$murky-black;
      border-radius: 4px;
      border: 1px solid #222;
      overflow: scroll;
      h2 {
        font-size: 24px;
        margin: 10px 0;
        color: theme.$psi-foam;
      }
      h3 {
        font-size: 20px;
        color: #fff;
        margin: 6px 0;
        margin-top: 8px;
        border-bottom: 1px solid #444;
      }
    }
  }
}

.window-btn {
  transition: all 100ms;
    
  border-radius: 4px;
  border: 1px solid theme.$dark-gray-2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px;
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
  svg { 
      max-height: 16px;
      max-width: 16px;
  }
  &:hover {
      background-color: transparentize(#ffffff, 0.96);
  }
}

#audio-toggle {
  position: absolute;
  right: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  padding: 2px;
  height: 26px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 4px;
  transition: all 100ms;
  &:hover {
    background-color: rgba(255,255,255,0.15);
  }
}

#instructions-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  p {
    margin: 0;
    margin-left: 6px;
    color: rgba(220, 220, 235, 0.3);
  }

  &:hover {
    i {
      color: rgba(255, 255, 255, 0.15);
    }
    p {
      color: rgba(220, 220, 235, 0.5);
    }
  }
}

// #btn-cancel-match {
//   border-radius: 4px;
//   &:hover {
//     background-color: rgba(255, 255, 255, 0.15);
//   }
//   svg { 
//     max-height: 16px;
//     max-width: 16px;
//   }
// }

.input-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  input {
    background-color: #111111;
    border: 1px solid #222222;
    border-radius: 3px;
    outline: none;
    height: 48px;
  
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 1rem;
    padding: 0 1rem;
    color: #fff;
  
    flex: 1;
  }
}

button {
  transition: all 100ms ease;
  background: #132217;
  border: 2px solid #335b54;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-width: 120px;
  border-radius: 3px;
  text-align: center;
  padding: 0 1rem;
  // margin-left: 12px;
  color: #fff;
  font-family: 'Syne Mono', monospace;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #17291b;
  }
}

input,
button {
  transition: opacity 0.5s, all 100ms ease;
}

input:disabled,
button:disabled {
  opacity: 0.5;
}

.game-over {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s, transform 1s;
  &.on {
    opacity: 1;
    transform: translateY(0);
  }

  // .txt-winner {
  //   color: #;
  // }
}

.game-over > button {
  margin: 0;
}

.fixbox {
  opacity: 1;
  position: fixed;
  top: 0;
  left: calc(50vw - 325px);
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(10, 16, 13, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid #111111;
  border-top: 0;

  .player-row {
    width: 49.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    &:last-of-type {
      flex-direction: row-reverse;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  
  .player-row__name {
    flex-shrink: 1;
    max-width: 80%;
    margin-right: 8px;
    margin-left: 8px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    color: #ffe7bc;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .player-row__kills {
    padding: 6px;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    background-color: rgba(0,0,0,0);
    transition: all 500ms;
    white-space: nowrap;
  }

  .leading-kills {
    border-color: #01ac23;
    color: #6aeb84;
    background-color: rgba(14, 213, 0, 0.3);
  }

  @media screen and (max-width: 860px) {
    width: 100%;
    font-size: 14px;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

#game-over-dialog {
  margin-top: 300px;

  #txt-winner {
    font-size: 48px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  }
}

.btn-lobby {
  background-color: theme.$murky-black;
  border: 1px solid theme.$dark-gray-2;
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  color: #fff;

  &:hover {
    background-color: #efefef;
    color: theme.$murky-black;
  }
}

@keyframes jiggle
{
  0% 
  {
    transform: translate(1px, 1px) rotate(0deg); 
  }
  10% 
  { 
    transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20% 
  { 
    transform: translate(-3px, 0px) rotate(1deg); 
  }
  30% 
  { 
    transform: translate(3px, 2px) rotate(0deg); 
  }
  40% 
  { 
    transform: translate(1px, -1px) rotate(1deg); 
  }
  50% 
  { 
    transform: translate(-1px, 2px) rotate(-1deg); 
  }
  60% 
  { 
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  70% 
  { 
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% 
  { 
    transform: translate(-1px, -1px) rotate(1deg); 
  }
  90% 
  { 
    transform: translate(1px, 2px) rotate(0deg); 
  }
  100% 
  { 
    transform: translate(1px, -2px) rotate(-1deg); 
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#room-badge {
  display: block;
  opacity: 1;
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  text-shadow: 0 1px 14px rgba(0,0,0,0.6);
  color: #ffe7bc;
  font-weight: 700;
  position: fixed;
  animation: jiggle 0.4s infinite linear;
  top: 70px;
  transition: color 500ms;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.room-badge__room_L6 {
  left: 20px;
}

.room-badge__room_R6 {
  right: 20px;
}

#top-center-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#room-info {
  @include theme.soft-shadow();
  display: block;
  margin-top: 10px;
  display: block;
  padding: 6px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid theme.$dark-gray-2;
  border-radius: 4px;
  background-color: transparentize(theme.$deep-sea, 0.2);
  backdrop-filter: blur(12px);
  pointer-events: all;

  .highlight {
    display: inline-block;
    background-color: theme.$murky-black;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    color: theme.$psi-foam;
  }
}

#chat-room {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 430px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparentize(#0A100D, 0.2);
  border-top-right-radius: 4px;
  backdrop-filter: blur(12px);
  border-top: 1px solid theme.$dark-gray-2;
  border-right: 1px solid theme.$dark-gray-2;

  #chat-content {
    width: 100%;
    flex-grow: 1;
    padding: 6px;
    overflow-y: scroll;
    pointer-events: all;

    p {
      color: #fff;
      font-family: 'Cormorant Garamond', serif;
      font-size: 18px;
      font-weight: 400px;

      &.server-info {
        color: theme.$psi-foam;
      }
    }
  }
  #chat-input-container {
    pointer-events: all;
    width: 100%;
    padding: 4px;
    position: relative;

    #chat-input {
      width: 100%;
      height: 44px;
      color: #fff;
      border: 1px solid theme.$dark-gray-2;
      padding: 4px;
      font-family: 'Cormorant Garamond', serif;
      font-size: 18px;
      border-radius: 4px;
      background-color: theme.$dark-gray;
  
      &::selection {
        border-color: theme.$dark-gray-2;
      }

      &:focus {
        outline: none;
        border-color: theme.$dark-gray-2;
      }
    }

    #chat-input-submit {
      position: absolute;
      right: 6px;
      top: 6px;
      height: 32px;
      width: 70px;
      min-width: 0;
      display: block;
      margin: 4px;
      font-family: 'Syne Mono', monospace;
      font-size: 16px;
      padding: 5px;
      border: none;
      border-radius: 4px;
      background-color: #222222;
    }
  }
  #chat-selector {
    pointer-events: all;
    width: 100%;
    height: 40px;
    display: flex;
    background-color: theme.$murky-black;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a {
      color: #444;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      padding: 4px 0;
      margin: 0 8px;
      border-bottom: 2px solid rgba(0,0,0,0);
      transition: all 200ms;
      cursor: pointer;
      position: relative;

      &:hover {
        color: #aaa;
      }

      &.selected {
        color: #fff;
        border-bottom: 2px solid #fff;
      }

      &.new-message {
        &::before {
          content: '';
          position: absolute;
          right: -3px;
          top: 3px;
          width: 8px;
          height: 8px;
          background-color: #5cc01f;
          border-radius: 50px;
        }
      }
    }
  }
}

// New lobby stuff
@keyframes match-borderfade-inwardpulse {
  0% {
    border-color: #FFF;
    transform: scale(0.95);
  }

  100% {
    border-color: #222;
    transform: scale(1);
  }
}

@keyframes match-flash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes btn-input-text-flash {
  0% {
    color: #FFF;
  }

  50% {
    color: #FFF;
  }

  100% {
    color: #CCC;
  }
}

@keyframes btn-input-pulse {
  0% {
    transform: scale(1);
    background-color: transparent;
    border-color: #222;
  }

  50% {
    transform: scale(1.05);
    background-color: #FFF;
    border-color: #FFF;
  }

  100% {
    transform: scale(1);
    background-color: transparent;
    border-color: #222;
  }
}

.panel-container {
  position: relative;

  .panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    border: solid 1px #222;
    border-radius: 4px;
    background-color: #111;
  
    transition: opacity 0.5s;
  }

  .msg-waiting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
    font-weight: 400;
    color: #CCC;

    opacity: 0;
    visibility: hidden;    
    transition: opacity 0.5s, visibility 0.5s;

    label {
      margin-top: 20px;
      font-size: 24px;
    }
  }

  &.waiting {
    .panel {
      opacity: 0.05;
      padding: 20px;
    }

    .msg-waiting {
      opacity: 1;
      visibility: visible;
    }
  }

}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  > label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
    font-family: 'Syne Mono', monospace;
  }

  > input {
    padding: 14px;
    border: solid 2px #222;
    border-radius: 4px;
    font-size: 18px;
    color: #CCC;
    background-color: transparent;
    font-family: 'Syne Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    outline: none;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.btn-split {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  button {
    flex: 1;
  
    &:first-of-type {
      margin-right: 8px;
    }
  
    &:last-of-type {
      margin-left: 8px;
    }
  }
}

.btn-toggle {
  border-color: #444;
  color: #AAA;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &.selected {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.85);
  }
}

.menu-container {
  width: 515px;
  height: 632px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: visible;
  margin-left: -360px;

  transition: margin-left 0.5s;

  &.matches-closed {
    margin-left: 0;

    .open-matches {
      transform: translateX(calc(-100% + 35px));

      .btn-hide-matches {
        img {
          transform: rotate(900deg);
        }
      }
    }
  }
}

.open-matches {
  z-index: 0;
  position: relative;
  width: 360px;
  height: 85%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  padding-bottom: 0;
  border: solid 1px #222;
  border-left: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #111;

  transform: translateX(0);
  transition: transform 0.5s;

  > header {
    color: #F0F0F0;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 28px;
  }

  #players-online {
    margin-bottom: 12px;
    color: #335b54;
    font-family: 'Syne Mono', monospace;
  }

  .btn-hide-matches {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    min-width: 0;
    width: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: solid 1px #222;
    border-radius: 2px;
    background-color: #000;

    img {
      transition: transform 0.5s;
    }
  }

  .matches {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 35px;
      width: calc(100% - 70px);
      height: 50px;
      background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 1)
      );
    }
  
    .match {
      position: relative;
      width: calc(50% - 8px);
      height: 94px;
      margin-bottom: 16px;
      padding: 10px;
      border: solid 2px #222;
      border-radius: 4px;
      font-family: 'Syne Mono', monospace;
      font-weight: 400;
      background-color: #1A1A1A;
      cursor: pointer;
      overflow: hidden;
      transition: all 100ms;

      &:hover {
        background-color: #1f1f1f;
      }

      &.do-flash-pulse > .flashbox {
        animation-name: match-flash;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      &.do-flash-pulse {
        animation-name: match-borderfade-inwardpulse;
        animation-duration: 1.25s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      &.started {
        background-color: rgba(0,0,0,0);
        border: 2px dashed #222;
        cursor: default;

        &:hover {
          background-color: rgba(0,0,0,0);
        }
      }

      .flashbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
      }

      * {
        pointer-events: none;
      }

      &.placeholder {
        border-color: transparent;
        background-color: #151515;
        cursor: default;
      }

      header {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: solid 1px #444;
        font-size: 16px;
        color: #FFF;
        text-align: center;
      }

      .match-type {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-size: 16px;
        color: #AAA;
        text-align: center;
      }

      .match-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #444;

        .started {
          color: theme.$lynch;
        }
      }
    }
  }

  .down-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transform: scale(1);
      transition: transform 0.3s;

      &.noscroll {
        transform: scale(0);
      }
    }
  }
}

.btn-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px;
  border: solid 2px #222;
  border-radius: 4px;

  &.do-pulse {
    animation-name: btn-input-pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    input {
      animation-name: btn-input-text-flash;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
    }
  }

  input {
    flex: 1;
    padding-left: 15px;
    border: 0;
    color: #CCC;
    background-color: transparent;
    font-family: 'Syne Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    outline: none;
  }

  button {
    align-self: center;
    width: 105px;
    min-width: 0;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.color-picker {
  display: flex;
  flex-direction: column;
  
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;

    button {
      flex: 1;
      min-width: 0;
      height: 22px;
      display: flex;
      margin-right: 5px;
      padding: 3px;
      background-color: transparent;
      border: solid 2px rgba(255, 255, 255, 0.15);
      transition: all 100ms;

      &:hover {
        border-color: rgba(255, 255, 255, 0.25);
      }
  
      &.selected {
        border-color: rgba(255, 255, 255, 0.85);
      }
  
      &:last-of-type {
        margin-right: 0;
      }
  
      span {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
  }
  
}

.spin-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.seconds-loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.seconds-loader::after {
  content: '';  
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 10s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

// From https://cssloaders.github.io/
.loader {
  width: 72px;
  height: 72px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// Keep .disabled at the bottom, its a "cascading" stylesheet and we need it last so it can override everything else
.disabled {
  position: fixed;
  left:0;
  top:0;
  opacity: 0 !important;
  z-index: -1 !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none;
  svg {
    display: none;
  }
}
